<div class="container" id="publicHome">

<div class="row" id="productSummary"><div class="span12">
  <h1>abnqe</h1>
  <h2>A Better Netflix Queue Experience</h2>
</div></div>

<div class="row sharing"><div class="span12">  
  <!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=danadams"></script>
<!-- AddThis Button END -->

</div></div>
<div class="row info login"><div class="span12">
  <%= image_tag 'netflix.jpg', alt: 'Netflix' %>
  <h3>Log in to get started</h3>
  <p>Free and easy. Click the button to log in with your Netflix account and get started.</p>
  <p><%= link_to t('.log_in'), user_omniauth_authorize_path(:netflix), class:'btn btn-large btn-danger' %></p>
</div></div>

<div class="row info"><div class="span12">
  <%= image_tag 'queue.jpg', alt: 'Visual Netflix instant watch queue' %>
  <h3>A Visual Instant Queue</h3>
  <p>Browse your queue in a way that makes sense: visually.</p>
  <p>Looks great on both laptops and TVs.</p>
</div></div>

<div class="row info"><div class="span12">
  <%= image_tag 'search.jpg', alt: 'Search and filter your queue' %>
  <h3>Search Your Queue</h3>
  <p>Instantly filter your queue to find titles quickly.</p>
</div></div>

</div>
