/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
//= require_tree ../../../vendor/assets/stylesheets
 *= require_tree .
 *= require_self
*/

@import "compass/utilities";
@import "compass/css3";
@import "_pems";

@import url(http://fonts.googleapis.com/css?family=Sansita+One);

@mixin typeface { font-family: ‘Metrophobic’, Arial, serif; font-weight: 400;  }
@mixin helvetica { font-family: Verdana, Arial, sans-serif; }

$imageWidth: 110px;
$topMargin: 40;

body {
  font-size: #{$baseFontSize}px;
	background-color: #272727 !important;
	padding-top: $topMargin * 1px;
  color: white;
}

.navbar {
  .container { width: auto !important; margin: 0 pem(24); }

  form { position: relative; width: pem(461); max-width: 50%; margin: pem(6) auto; display: block; float: none;}
  .search-query { padding-right: 25px !important; width: 100%; }
  .icon-search { position: absolute; right: -25px; top: 6px; }
  .icon-black { display: none; }
  input:focus ~ .icon-white { display: none; }
  input:focus ~ .icon-black { display: inline-block; }

  .brand { @include typeface; }

  .nav { font-size: pem(12); }
}

#footer { text-align: center; margin: pem(24) 0; }


h1, h2, h3, h4, h5, h6 { @include typeface; line-height: 1em; }

#publicHome {
  @include helvetica;

  .info {
    margin-bottom: pem(24);

    h3 { font-size: pem(36); margin-bottom: .5em; }
    img {
      float: left; margin: 0 0 pem(24) 0;
      @include box-shadow(pem(3) pem(3) pem(12) #121212);
      border: pem(2) solid #fff * .8;
      @include border-radius(pem(3));
    }
    p { font-size: pem(18); line-height: 1em; @include text-shadow(0 0 .1em black); }
  }
  .info:nth-child(even) img { float: left; margin-right: pem(24); };
  .info:nth-child(odd) img { float: right; margin-left: pem(24); };

  h1, h2, h3 { @include text-shadow(0 0 .1em black); }

  a.btn { margin-top: pem(16); }

  .sharing {
    margin-bottom: pem(16);
    .addthis_toolbox { float: none; margin: 0 auto;}
  }
}

#productSummary {
  margin-top: pem($topMargin * -1 + 24);
  margin-bottom: pem(24);

  h1, h2 { display: block; text-align: center; }

  h1 { font-size: pem(136.688); }
  h2 { font-size: pem(27); text-transform: lowercase; margin: 1em 0;}
}

.items {
	@include clearfix;
  margin: 0 auto;

	.item {
    $margin: $imageWidth * .25;
    width: $imageWidth;
		float: left; margin: $margin/2 $margin $margin/2 0;
    @include box-shadow(2px 2px 6px #111);

		h2 { display: none; }
	}

  .no-results {
    display: none;
    margin: pem(24) auto;
    /* border: pem(2) dashed #555; */
    padding: pem(24);
    @include text-shadow(#777 pem(1) pem(1) 0px);
    width: pem(692); max-width: 80%;
    text-align: center;

    span {
      font-size: pem(23);
      @include typeface;
      color: white;
      line-height: 1.25em;
    }
    
  }

  &.filtered-no-results {
    .no-results { display: block; }
  }
}

.filtered {
  .item { display: none; }
  .hit { display: block; }
}
